<!doctype>
<html>
  <head>
    <title>{{ fm.title }}</title>
    <meta name="description" content="{{ fm.description }}">
  </head>
  <body>
    <datetime>{{ fm.date }}</datetime>
    <main>{{ html | safe }}</main>
  </body>
</html>